body
{
    padding: 60px 10px 40px 10px;
}

.navbar-inner
{
}

.navbar-form input[type="text"]
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-form input
{
    margin-top: 7px;
}

.btn
{
    padding-top: 2px;
    padding-bottom: 2px;
}

h1
{
    font-size: 30px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
{
    min-width: 835px;
    max-width: 940px;
    width: 100%;
}

#markdown-toc li
{
    list-style-type: none;
}

#markdown-toc ul
{
    margin-left: 16px;
}
