        <footer class="footer bg-secondary-subtle">
			<div class="container">
				<div class="row pt-5 pb-2">
					<div class="col-lg-3">
						<p class="lead" role="heading" aria-level="2">Need network support?</p>
							{% include helplinks.html %}
						<p class="d-none d-lg-block d-xl-block">
						<a href="#back-to-top" title="Jump back to top" aria-label="Jump back to top of page">
						<i role="presentation" class='bi bi-arrow-up-circle pe-3 ps-3' title="Up arrow in circle" aria-label="Jump back to top of page"></i>Back to top</a></p>
					</div>
					<div class="col-lg-4">
						<p class="lead" role="heading" aria-level="2">Review our code:</p>
						<p>
							<a href="https://github.com/oftc" title="OFTC organization on github">
							<i role="presentation" class='bi bi-github pe-3 ps-3' title="Github logo"></i>OFTC on Github
							</a>
						</p>
						<p class="lead" role="heading" aria-level="2">Other issues?</p>
						<p>
							<a href="https://github.com/oftc/oftc/issues" title="OFTC issue tracker on github">
							<i role="presentation" class='bi bi-github pe-3 ps-3' title="Github logo"></i>Public issue tracker
							</a>
						</p>
					</div>
					<div class="col-lg-5">
						<p class="d-none d-lg-block d-xl-block"><a href="/feed.xml"><i role="presentation" class="bi bi-rss pe-3" title="RSS icon"></i>Atom/RSS news feed</a></p>
						<p>Founded in 2001 by members of the Open Source and Free Software communities, OFTC aims to provide those communities with better communication, development, and support infrastructure.</p>
						<p>OFTC is a member of
						<svg role="presentation" height="20px" width="40px" >
							 <image xlink:href="https://www.spi-inc.org/logo.svg" width="40px">
						</svg>
						<a href="http://www.spi-inc.org/" aria-label="Visit the SPI website">Software in the Public Interest</a>.<br>Contributions to SPI keep OFTC running.</p>
						<p class="d-block d-lg-none d-xl-none"><a href="/feed.xml"><i role="presentation" class="bi bi-rss ps-3 pe-3" title="RSS icon"></i>Atom/RSS news feed</a></p>
						<p class="d-block d-lg-none d-xl-none"><a href="#back-to-top" title="Up arrow in circle"><i role="presentation" class='bi bi-arrow-up-circle pe-3 ps-3' aria-label="Back to top"></i>Back to top</a></p>
					</div>
				</div>
			</div>
		</footer>
