<p class="helplink">
	<a href="https://webchat.oftc.net/?randomnick=1&channels=oftc&prompt=1" target="_blank" rel="noopener noreferrer">
	<i role="presentation" class='bi bi-chat-right-dots pe-3 ps-3' title="IRC support channel"></i>#oftc
	</a>
</p>
<p class="helplink">
	<a href="mailto:support@oftc.net?subject=Support%20enquiry:&body=I%20need%20help%20with%3A" target="_blank" rel="noopener noreferrer" title="Support email address">
	<i role="presentation" class='bi bi-envelope pe-3 ps-3' title="Email icon"></i>support@oftc.net
	</a>
</p>
