<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="robots" content="index,follow">
    <title>OFTC - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/oftc-16.png" rel="shortcut icon" type="image/png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    {% for script_src in page.script_srcs %}
    <script src="{{script_src}}"></script>
    {% endfor %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <form class="navbar-form pull-right" action="//webchat.oftc.net" method="get" target="_blank">
            <input name="nick" type="text" data-toggle="tooltip" title="Enter your IRC nickname" class="span2" placeholder="Nickname">
            <input name="channels" type="text" data-toggle="tooltip" title="Enter comma seperated list of channels to join" class="span2" placeholder="#oftc, #moocows">
            <input type="hidden" name="uio" value="d4">
            <button type="submit" class="btn">Chat!</button>
          </form>
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">OFTC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if page.url == "/" %}
                <li class="active"><a href="/">Home</a></li>
              {% else %}
                <li><a href="/">Home</a></li>
              {% endif %}
              {% if page.url == "/constitution/" %}
                <li class="active"><a href="/constitution">Constitution</a></li>
              {% else %}
                <li><a href="/constitution">Constitution</a></li>
              {% endif %}
              {% if page.url == "/staff/" %}
                <li class="active"><a href="/staff">Staff</a></li>
              {% else %}
                <li><a href="/staff">Staff</a></li>
              {% endif %}
              {% if page.url == "/departments/" %}
                <li class="active"><a href="/departments">Departments</a></li>
              {% else %}
                <li><a href="/departments">Departments</a></li>
              {% endif %}
              {% if page.url == "/FAQ/" %}
                <li class="active"><a href="/FAQ">FAQ</a></li>
              {% else %}
                <li><a href="/FAQ">FAQ</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <article>
    <div class="container">
      <div class="row-fluid">
       <div class="span12">
          {{ content }}
        </div>
      </div>
    </div> <!-- /container -->
    </article>
  </body>
</html>
