<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="OFTC">
        <title>OFTC - {{ page.title }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- bootstrap icons -->
        <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
		<link href='/css/main.css' rel='stylesheet'>
		<!-- FOUC avoidance -->
		<script>0</script>
		{% for script_src in page.script_srcs %}
		<script src="{{script_src}}"></script>
		{% endfor %}
    </head>
    <body>
        <!-- Responsive navbar-->
		{% include navbar.html %}
        <!-- Page content-->
        <main id="jump-to-content">
		{% include hero.html %}
			<div class="container">
				{% if page.url == "/" %}
				<div class="pt-5 pb-5">
					{{ content }}
				</div>
				{% else %}
				<div class="row pt-5 pb-5">
					{% assign contentdowncase = page.content | downcase -%}
					{%- if contentdowncase contains "* toc" %}
					<div class="col-lg-3">
					</div>
					{% endif %}
					<div class="pl-2 col-lg-9">
						{{ content }}
					</div>
				</div>
				{% endif %}
			</div>
        </main>
		{% include footer.html %}
        <!-- Bootstrap core JS-->
		<script src="/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/main.js"></script>
        <!-- more FOUC avoidance -->
        <noscript><style>body { visibility: visible; }</style></noscript>
    </body>
</html>
