<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="robots" content="index,follow">
    <title>OFTC - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body 
      {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav 
      {
        padding: 9px 0;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">OFTC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if page.url == "/index.html" %}
                <li class="active"><a href="/index.html">Home</a></li>
              {% else %}
                <li><a href="/index.html">Home</a></li>
              {% endif %}
              {% if page.url == "/constitution/" %}
                <li class="active"><a href="/constitution">Constitution</a></li>
              {% else %}
                <li><a href="/constitution">Constitution</a></li>
              {% endif %}
              {% if page.url == "/staff/" %}
                <li class="active"><a href="/staff">Staff</a></li>
              {% else %}
                <li><a href="/staff">Staff</a></li>
              {% endif %}
              {% if page.url == "/departments/" %}
                <li class="active"><a href="/departments">Departments</a></li>
              {% else %}
                <li><a href="/departments">Departments</a></li>
              {% endif %}
              {% if page.url == "/faq/" %}
                <li class="active"><a href="/faq">FAQ</a></li>
              {% else %}
                <li><a href="/faq">FAQ</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <article>
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="well sidebar-nav">
            <li class="nav-header">
              Connect to OFTC 
            </li>
          </div>
        </div>
        <div class="span8">
          {{ content }}
        </div>
      </div>
    </div> <!-- /container -->
    <article>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
